/* GESHI CLASSES */
pre .br0 {color: #6c6;}
pre .co1, pre .co2, pre .coMULTI {color: #808080;}
pre .de1, pre .de2 {font-weight: normal; background: transparent; color: #000; padding-left: 5px;}
pre .es0 {color: #003; font-weight: bold;}
pre .kw1 {color: #a1a100;}
pre .kw2 {color: #000; font-weight: bold;}
pre .kw3 {color: #006;}
pre .kw4 {color: #f63333;}
pre .me0 {color: #060;}
pre .nu0 {color: #f3f;}
pre .st0 {color: #f00;}

/* CODEBOX CLASSES */
.tx-syntaxhighlight {
	margin: 20px;
	
}

.tx-syntaxhighlight div.title {
	background-color: #405753;
	border-bottom: 1px solid white;
	color: #fff;
	font: verdana, sans-serif bold;
	margin: 0;	
	padding: 1px 0 1px 15px;
	height: 18px;
}

.tx-syntaxhighlight div.title p {
	margin: 0;
	padding: 0;
}

.tx-syntaxhighlight div.text {
	border: 1px solid #eee;
	margin: 0;
	overflow: auto;
	padding: 8px 0 8px 8px;
	white-space: nowrap;
}
